*,
*::after,
*::before {
    box-sizing: border-box;
}

a,
abbr,
address,
area,
article,
aside,
audio,
b,
base,
bdi,
bdo,
blockquote,
body,
br,
button,
canvas,
caption,
cite,
code,
col,
colgroup,
data,
datalist,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
head,
header,
hgroup,
hr,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
link,
main,
map,
mark,
menu,
meta,
meter,
nav,
noscript,
object,
ol,
optgroup,
option,
output,
p,
picture,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
script,
section,
select,
slot,
small,
source,
span,
strong,
style,
sub,
summary,
sup,
table,
tbody,
td,
template,
textarea,
tfoot,
th,
thead,
time,
title,
tr,
track,
u,
ul,
var,
video,
wbr {
    background: none;
    font-family: inherit;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
}

address,
article,
aside,
blockquote,
body,
dd,
details,
dialog,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
legend,
menu,
nav,
ol,
p,
pre,
section,
summary,
ul {
    display: block;
}

a,
a:visited,
a:hover,
a:active {
    color: black;
}

body {
    text-rendering: optimizeSpeed;
}

button {
    border: none;
    cursor: pointer;
}

caption,
th {
    text-align: left;
}

html {
    font-family: Arial, sans-serif;
    user-select: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

img,
picture {
    display: inline-block;
    max-width: 100%;
}

input {
    border: none;
}

menu,
ol,
ul {
    list-style-position: inside;
    list-style-type: none;
}

q {
    quotes: none;
}

summary {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    vertical-align: middle;
}

textarea {
    resize: none;
}

[hidden] {
    display: none !important;
}